.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url('../images/background.png') 0 0 no-repeat;
  background-size: cover;

  .chat-header {
    height: 50px;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    -webkit-box-shadow: inset 0px 190px 50px -159px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: inset 0px 190px 50px -159px rgba(0, 0, 0, 0.22);
    box-shadow: inset 0px 190px 50px -159px rgba(0, 0, 0, 0.22);
  }

  .chat-messages {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .bubble-left {
      display: inline-block;
      padding: 15px;
      background: #fff;
      position: relative;
      -moz-border-radius: 0px 10px 0px 10px;
      -webkit-border-radius: 0px 10px 0px 10px;
      border-radius: 0px 10px 0px 10px;
      margin: 10px 10px 10px 20px;
    }

    .bubble-left:before {
      content:"";
      position: absolute;
      right: 100%;
      top: 0px;
      width: 0;
      height: 0;
      border-top: 0px solid transparent;
      border-right: 16px solid #fff;
      border-bottom: 20px solid transparent;
    }
  }

  .chat-input-btn-container {
    display: flex;

    .OutlineInput-root-1 {
      flex: 1;
    }
  }
}